[app]
    name = "HowIO"
    port = "3000"

[database]
[database.mysql]
    host = "localhost"
    port = "3306"
    database = "database"
    username = "root"
    password = "password"
    charset = "utf8mb4"

[jwt]
    secret = "vZYmidcPuyy1kwvqmqjqdw=="
    ttl = 86400